.login {
  cursor: pointer;
  border: 2px;
  background: transparent;
  &:focus{
    outline: 0px;
  }
}
.modal-header{
  .modal-title{
    font-weight: 500;
    margin: 0px;
  }
}
.modal-body{
  p{
    font-weight: 500;
  }
}