.container-fluid {
  .login {
    cursor: pointer;
    border: 2px;
    background: transparent;
    &:focus{
      outline: 0px;
    }
  }
  span.logout {
    margin: 3px;
    font-size: 15px;
}
}