.container-fluid {
  .login {
    background-color: #5D5FEF;
    color: #fff;
    height: 34px;
    &:focus{
      outline: 0px;
    }
  }
  span.logout {
    margin: 3px;
    font-size: 15px;
    position: relative;
    top: -6px;
}
}