<div class="containers login-form">
  <div class="row">
    <div class="col-md-12 col-sm-12 sign-in">
      <h1 class="d-flex justify-content-center">Sign In</h1>
      <div class="separator">✻</div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate action="#">
        <div class="mb-3">
            <label for="email" class="form-label text-gray-700">Email address</label>
            <input type="email" name="email" id="email" placeholder="example@gmail.com"
                required formControlName="email"
                class="form-control">
            <div class="text-danger text-left mt-1"
                *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
                <div *ngIf="loginForm.controls['email'].errors?.['required']">Email is required</div>
                <div *ngIf="loginForm.controls['email'].errors?.['email']">Invalid email format</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label text-gray-700">Password</label>
            <div class="input-with-icon">
              <input name="password" id="password" placeholder="••••••••" type="{{ passwordType }}" minlength="8"
                formControlName="password"
                class="form-control"
                required="">
                <span class="eye-icon">
                  <img
                    [src]="isPassword ? 'assets/icons/eye-slash.svg' : 'assets/icons/eye-open.svg'"
                    [ngClass]="{ 's-21': true, 'focus-border': isFocused }"
                    (click)="passwordHideShow('password')"
                    (keyup)="onKeyUp($event)"
                    alt="Toggle Password Visibility"
                    tabindex="0" />
                </span>
                </div>
            <div class="text-danger text-left mt-1"
                *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
                <div *ngIf="loginForm.controls['password'].errors?.['required']">Password is required</div>
                <div *ngIf="loginForm.controls['password'].hasError('minlength')">Password must be at least 8 characters
                    long </div>
            </div>
        </div>
        <button type="submit" [disabled]="loginForm.invalid || isLoading" class="btn submit-button">
      <div class="spinner-border" role="status" *ngIf="isLoading">
        <span class="sr-only"></span>
      </div>
      <span *ngIf="!isLoading">Sign in</span>
      </button>
    </form>
    </div>
  </div>
