.conatiner-fluid{
  margin: 10px;
  .nav-tabs {
    border-bottom: 0px solid #dee2e6 !important;
    .nav-link{
      &:focus{
        outline: none; 
       }
    }
  }
  button.createButton {
    display: flex;
    height: 30px;
    .create-icon {
      font-size: 19px !important;
      margin-top: 0px;
      margin-left: -9px;
    }
    .back {
      margin: -4px;
    }
  }
  .newRecord{
    background-color: #5D5FEF;
    color: #fff;
  }
  .message{
    font-weight: 500;
  }
  li.nav-item {
    margin: 2px;
  }
}
