.material-icons.check_circle {
  cursor: pointer;
}
button.createButton {
  display: flex;
  height: 30px;
  .create-icon {
    font-size: 19px !important;
    margin-top: 0px;
    margin-left: -9px;
  }
  .back {
    margin: -4px;
  }
}
.newRecord{
  background-color: #5D5FEF;
  color: #fff;
}
.card.table-responsive {
  height: 39px;
  background-color: #fcf5f5;
}
.nav-tabs {
  border-bottom: 0px solid #dee2e6 !important;
}