button.createButton {
  display: flex;
  align-items: center;
  gap: 5px;
  .create-icon {
    font-size: 19px !important;
    margin-top: -2px;
  }
}
span.edit {
  font-size: 19px;
}
.statusBtn {
  font-size: 12px;
  box-shadow: none !important;
  outline: none !important;
  cursor: default !important;
  background-color: transparent !important;
  border: 0 !important;
  margin: 0px;
  span.material-icons.check_circle {
    color: green;
  }
  span.material-icons.cancel {
    color: red;
  }
  span.material-icons.edit {
    color: orange;
  }
}
.table td {
  padding:0px 10px !important;
  height: 25px; 
  vertical-align: middle;
}

input.form-control{
  height: 26px !important;
}
select.form-control{
  height: 26px !important;
  padding:0px 10px !important;
}
.border-action {
  border-right: 1px solid #ddd;
  width: 4%;
}
