<div class="row">
  <div class="col-12">


    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="dropdown-text"> Select Options</span>
      <span class="caret"></span></button>
      <div class="dropdown-menu">
        <form class="px-4">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="dropdownCheck">
            <label class="form-check-label" for="dropdownCheck">
              Remember me
            </label>
          </div>
        </form>
       
      </div>
    </div>
    <div class="mb-3 float-right">
      <button class="btn btn-success btn-sm createButton" (click)="addNewRecord()">
        <span class="material-icons create-icon">add</span>Add New Record </button>
    </div>
    <div class="card table-responsive">
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th class="text-center border-action">Action</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Linedin</th>
            <th>Country</th>
            <th>Platform</th>
            <th>Lead Score</th>
            <th>Conversion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="isAddingNewRecord" [formGroup]="registrationForm">
            <td>
              <button class="btn btn-sm btn-success statusBtn" (click)="submitRegistration()">
                <span class="material-icons check_circle">check_circle</span>
              </button>
              <button class="btn btn-sm btn-success statusBtn" (click)="cancel()">
                <span class="material-icons info">cancel</span>
              </button>
            </td>
            <td>
              <input placeholder="Name" formControlName="name" type="text" />
              <div *ngIf="submitted && registrationForm.get('name')?.errors">
                <div class="text-danger" *ngIf="registrationForm.get('name')?.errors?.['required']"> Name is required
                </div>
              </div>
            </td>
            <td>
              <input placeholder="Email" formControlName="email" type="text" />
              <div class="text-danger" *ngIf="submitted && registrationForm.controls['email']?.errors">
                <div class="text-danger" *ngIf="registrationForm.get('email')?.errors?.['required']"> Email is required
                </div>
                <div class="text-danger" *ngIf="registrationForm.get('email')?.errors?.['email']"> Invalid email format
                </div>
              </div>
            </td>
            <td>
              <input placeholder="Phone" formControlName="phone" type="text" [maxlength]="10"/>
            </td>
            <td>
              <input placeholder="Linkedin" formControlName="linkedin" class="form-control" type="text"  pattern="^https:\/\/www\.linkedin\.com\/.*$"
            />
            <div  class="text-danger" *ngIf="submitted && registrationForm.get('linkedin')?.errors?.['pattern']">Invalid LinkedIn URL</div>
            </td>
            <td>
              <select formControlName="country">
                <option value="">Choose Country</option>
                <option value="India">India</option>
                <option value="US">US</option>
              </select>
            </td>
            <td>
              <select>
                <option value="">Choose Platform</option>
                <option value="1">Admin</option>
                <option value="2">Client</option>
              </select>
            </td>
            <td>
              <select>
                <option value="">Choose Lead Score</option>
                <option value="1">Admin</option>
                <option value="2">Client</option>
              </select>
            </td>
            <td>
              <select>
                <option value="">Choose Conversion</option>
                <option value="1">Admin</option>
                <option value="2">Client</option>
              </select>
            </td>
          </tr>
        </tbody>
        <!-- **************List Start********************** -->
        <tbody>
          <tr *ngFor="let user of users; let i = index">
            <td class="text-center border-action">
              <div class="action-button">
                <button *ngIf="!isEdit && user?.isDisabled" class="btn btn-sm btn-success statusBtn"
                  (click)="userEdit(user, i)">
                  <span class="material-icons check_circle">edit</span>
                </button>
                <button *ngIf="isEdit && !user?.isDisabled" class="btn btn-sm btn-success statusBtn"
                  (click)="updateUser(user, i)">
                  <span class="material-icons check_circle">check_circle</span>
                </button>
                <button *ngIf="isEdit && !user?.isDisabled" class="btn btn-sm btn-danger statusBtn"
                  (click)="deleteUser(user, i)">
                  <span class="material-icons cancel">delete_forever</span>
                </button>
              </div>
            </td>
            <td>
              <div *ngIf="user.isEdit">
                <input type="text" [(ngModel)]="user.name" class="form-control" />
                <div *ngIf="updateSubmitted">
                  <div class="text-danger" *ngIf="user.name===''">
                    Name is required
                  </div>
                </div>
              </div>
              <div *ngIf="!user.isEdit"> {{ user.name }} </div>
            </td>
            <td>
              <div *ngIf="user.isEdit">
                <input type="text" [(ngModel)]="user.email" class="form-control"  readonly/>
              </div>
              <div *ngIf="!user.isEdit"> {{ user.email }} </div>
            </td>
            <td>
              <div *ngIf="user.isEdit">
                <input type="text" [(ngModel)]="user.phone" class="form-control" [maxlength]="10"/>
              </div>
              <div *ngIf="!user.isEdit"> {{ user.phone }} </div>
            </td>
            <td>
              <div *ngIf="user.isEdit">
                <input placeholder="Linkedin"  [(ngModel)]="user.linkedin"  class="form-control" type="text"  pattern="^https:\/\/www\.linkedin\.com\/.*$"/>
                <div  class="text-danger" *ngIf="updateSubmitted && registrationForm.get('linkedin')?.errors?.['pattern']">Invalid LinkedIn URL</div>
              </div>
              <div *ngIf="!user.isEdit"> {{ user.linkedin }} </div>
            </td>
            
            <td>
              <div *ngIf="user.isEdit">
                <select class="form-control"  [(ngModel)]="user.country">
                  <option value="">Choose Country</option>
                  <option value="london">London</option>
                  <option value="us">US</option>
                  <option value="india">India</option>
                </select>
              </div>
              <div *ngIf="!user.isEdit"> {{ user.country }} </div>
            </td>
            <td>
              <div *ngIf="user.isEdit">
                <select class="form-control"  [(ngModel)]="user.platform">
                  <option value="" selected>Choose Platform</option>
                  <option value="linkedin">linkedin</option>
                  <option value="Facebook">Facebook</option>
                  <option value="Instragram">Instragram</option>
                </select>
              </div>
              <div *ngIf="!user.isEdit"> {{ user.platform }} </div>
            </td>
            <td>
              <div *ngIf="user.isEdit">
                <select class="form-control"  [(ngModel)]="user.lead_score">
                  <option value="">Choose Lead Score</option>
                  <option value="1">10</option>
                  <option value="2">20</option>
                  <option value="3">30</option>
                </select>
              </div>
              <div *ngIf="!user.isEdit"> {{ user.lead_score }} </div>
            </td>
            <td>
              <div *ngIf="user.isEdit">
                <select class="form-control"  [(ngModel)]="user.conversion">
                  <option value="">Choose Conversion</option>
                  <option value="1">Admin</option>
                  <option value="2">Client</option>
                </select>
              </div>
              <div *ngIf="!user.isEdit"> {{ user.conversion }} </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>