// Toaster Error Message Css
.toast-container {
    position: absolute;
    right: 0;
    top: 0;
    .ngx-toastr {
      box-shadow: 0px 3px 6px rgba(51, 51, 79, 0.1) !important;
      border-radius: 3px;
      position: relative;
      overflow: hidden;
      margin: 0 0 6px;
      padding: 15px 15px 15px 65px;
      background-position: 15px center;
      background-repeat: no-repeat;
      background-size: 32px;
      background-color: #fff;
      color: #33334f;
      line-height: 1.3;
    }
  
    .toast-success {
      background-image: url('assets/icons/success-icon.svg');
      border-left: 5px solid #00c389;
    }
  
    .toast-info {
      background-image: url('assets/icons/info-icon.svg');
      border-left: 5px solid #2f86eb;
    }
  
    .toast-warning {
      background-image: url('assets/icons/warning-icon.svg');
      border-left: 5px solid #ff9c28;
    }
  
    .toast-error {
      background-image: url('assets/icons/error-icon.svg');
      border-left: 5px solid #e63b3b;
    }
  
    .toast-title {
      font-weight: 500;
      font-size: 20px;
      color: #797988;
      padding-bottom: 5px;
    }
  
    .toast-message {
      font-size: 15px;
      color: #797988;
    }
  }