// Toaster Error Message Css
.toast-container {
  position: absolute;
  right: 0;
  top: 0;
  .ngx-toastr {
    box-shadow: 0px 3px 6px rgba(51, 51, 79, 0.1) !important;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 65px;
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 32px;
    background-color: #fff;
    color: #33334f;
    line-height: 1.3;
  }

  .toast-success {
    background-image: url("assets/icons/success-icon.svg");
    border-left: 5px solid #00c389;
  }

  .toast-info {
    background-image: url("assets/icons/info-icon.svg");
    border-left: 5px solid #2f86eb;
  }

  .toast-warning {
    background-image: url("assets/icons/warning-icon.svg");
    border-left: 5px solid #ff9c28;
  }

  .toast-error {
    background-image: url("assets/icons/error-icon.svg");
    border-left: 5px solid #e63b3b;
  }

  .toast-title {
    font-weight: 500;
    font-size: 20px;
    color: #797988;
    padding-bottom: 5px;
  }

  .toast-message {
    font-size: 15px;
    color: #797988;
  }
}

.edit-mode,
.edit-off {
  .mat-mdc-form-field-infix {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white;
    &:hover {
      border-bottom-color: #fff;
    }
  }
  .mat-mdc-form-field-infix {
    min-height: 25px !important;
  }
  .mat-mdc-form-field-bottom-align::before {
    display: flex !important;
    height: 0px !important;
  }
}
.mat-mdc-option.mdc-list-item {
  font-size: 13px !important;
}
.edit-mode {
  .mat-mdc-form-field-focus-overlay {
    background-color: black !important;
    &:hover {
      border-bottom-color: #000 !important;
    }
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled)
    .mdc-line-ripple::before {
    border-bottom-color: #000;
  }

  .mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: #000;
  }
  .mat-mdc-select-arrow {
    display: flex !important;
  }
  .mdc-text-field--disabled .mdc-line-ripple::before {
    border-bottom-color: rgb(0 0 0 / 6%);
  }
}
.edit-off {
  .mat-mdc-select-arrow {
    display: none;
  }
  .mdc-text-field--disabled .mdc-line-ripple::before {
    border-bottom-color: transparent !important;
  }
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
    .mdc-line-ripple::before {
    border-bottom-color: rgb(248 244 244 / 42%);
  }
  .mat-mdc-form-field-focus-overlay {
    background-color: transparent;
    &:hover {
      border-bottom-color: #fff !important;
    }
  }
  .mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: #fff;
  }
  .mdc-text-field--disabled.mdc-text-field--filled {
    background-color: #fff;
  }
  .mat-mdc-select-disabled .mat-mdc-select-value {
    color: #212121;
  }
  .mdc-text-field--no-label:not(.mdc-text-field--textarea)
    .mat-mdc-form-field-input-control.mdc-text-field__input,
  .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
    cursor: default;
  }
}
.action-btn {
  display: flex;
  border-left: #797988;
  .mat-mdc-icon-button.mat-mdc-button-base {
    width: 30px !important;
    height: 46px !important;
    padding: 3px !important;
    &:focus {
      outline: none !important;
    }
  }

  .mat-mdc-icon-button:hover .mat-mdc-button-persistent-ripple::before {
    opacity: 0 !important;
  }
  .mat-mdc-icon-button .mat-mdc-button-persistent-ripple::before {
    background-color: transparent !important;
  }
}
.mat-mdc-table .mdc-data-table__row {
  height: 43px !important;
}
.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
  top: 16px !important;
}

.card.manage-table {
  .table thead th {
    background-color: #f9fafb !important;
  }
  button.viewData,
  .manageDelete,
  &:focus {
    border: 0;
    background: transparent;
    outline: none;
  }
}

a.linkedin-link.mdc-button {
  color: #007bff !important;
  z-index: 000;
  position: relative;
  .shortened-link {
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.search-bar {
   width: 329px !important;
  .mat-mdc-form-field-infix {
    padding-top: 7px !important;
  }
  .mdc-text-field--no-label:not(.mdc-text-field--textarea) {
    padding-left: 14px !important;
    width: 300px !important;
  }
  mat-form-field.mat-mdc-form-field.mat-mdc-form-field-type-mat-input{
    height: 31px !important;
}
}
.all-data-removed {
  .mdc-checkbox__native-control {
    margin: -14px !important;
  }
}
.mdc-text-field {
  padding: 0 1px !important;
}
.mat-mdc-paginator .mat-mdc-select-value {
  text-align: center !important;
}

.pagination {
  .mat-mdc-select-arrow-wrapper {
    padding: 8px !important;
  }
}
.toggle {
  margin-top: 1px;
  position: relative;
  right: 15px;
  @media (max-width: 767px) {
    right: 5px;  
}
  .mat-mdc-select-value {
    font-size: 14px;
  }
  .toggle-btn {
    border: 1px solid #cbbcbc;
    padding: 4px;
    height: 45px;
    margin-top: 5px;
  }
  .mat-mdc-select-arrow {
    display: block !important;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  .mat-mdc-progress-spinner
    .mdc-circular-progress__indeterminate-circle-graphic {
    stroke: #5d5fef;
  }
}
.cdk-overlay-container {
  z-index: 1041;
}
mat-form-field.mat-mdc-form-field.mat-mdc-form-field-type-mat-input.mat-form-field-appearance-fill.mat-primary {
  height: 26px;
}
button.mat-calendar-body-cell.mat-calendar-body-active {
  outline: none;
}
.mat-mdc-icon-button {
  --mat-mdc-button-persistent-ripple-color: #f5f5f5;
  &:focus{
    outline: 0 !important;
  }
}
.mat-mdc-icon-button {
  --mat-mdc-button-persistent-ripple-color: none !important;
  --mat-mdc-button-ripple-color: none !important;
}