//font
$primary-font: 'DM Sans', sans-serif;
$secondary-font: 'DM Sans', sans-serif;

// Primary Colors
$primary-color: #fd4237;
$primary-color-light: rgb(244 104 114 / 10%);
$theme-color3: #186ef2;
$theme-color4: #f4f5fa;
$secondary-button: #ffece7;
// Bg color
$bg-primary-color: #f8f8fd;
$bg-theme-color2: $primary-color-light;
$bg-theme-color3: $theme-color3;
$bg-theme-color4: $theme-color4;

// Other Colors
$white: #fff;
$dark-grey: #070625;
$black: #000002;
$gray: #4c4b61;
$success: #007f00;
$red: rgb(255, 0, 0);
$gray-medium-color: #797988;
$gray-medium-light: #a7a7b0;
$gray-light: #d5d5d8;
$light-gray-color: #dfdfe1;
$theme-green: #02e48e;
$yellow: #ffa600;
$info: rgb(24, 189, 243);

// Font size
$h1-font-size: 32px;
$h2-font-size: 24px;
$h3-font-size: 20px;
$h4-font-size: 24px;
$h5-font-size: 22px;
$h6-font-size: 20px;

// Font Weight
$h1-font-weight: 600;
$h2-font-weight: 600;
$h3-font-weight: 600;
$h4-font-weight: 600;
$h5-font-weight: 600;
$h6-font-weight: 600;

// Breakpoints
$xxs-min: 320px;
$xs-max: 480px;
$sm-min: 481px;
$sm-max: 767px;
$md-min: 768px;
$md-max: 991px;
$lg-min: 992px;
$lg-max: 1199px;
$xl-min: 1200px;
$xl-max: 1439px;
$xxl-min: 1440px;
$shimmerColor:
  #33334f 0%,
  #b2b2c8 46.88%,
  #81819a 100%;
@mixin gradient($direcion, $shimmerColor) {
  background: linear-gradient($direcion, $shimmerColor);
  background: -moz-linear-gradient($direcion, $shimmerColor);
  background: -o-linear-gradient($direcion, $shimmerColor);
  background: -webkit-linear-gradient($direcion, $shimmerColor);
}
