.container-border {
  width: 100%;
  margin-right: auto !important;
  margin-left: auto !important;
  .header-wrap-header {
    margin-top: 20px;
    h4.heading {
      font-weight: 700;
      margin-left: 20px;
      line-height: 32px;
      font-size: 24px;
    }
    .header-wrap {
      display: flex;
      gap: 18px;
      padding-left: 26px;
    }
  }

  button.addNewRow {
    display: flex;
    height: 35px;
    margin-top: 5px;
    background-color: #0ab27d;
    color: #fff;
    padding: 6px;
    .add-icon {
      font-size: 19px !important;
      margin-top: 0px;
      margin-left: -7px;
    }
  }
  button.manageBtn {
    height: 35px;
    margin-top: 5px;
    background-color: #5D5FEF;
    color: #fff;
    padding: 6px;
  }
  th.mat-mdc-header-cell {
    padding: 0 32px !important;
    color: #667085;
  }
  .mat-mdc-table .mdc-data-table__header-row {
    height: 39px;
    background-color: #F9FAFB;
  }
  .d-flex{
    .search-bar {
      border-radius: 7px;
      border: 1px solid #cbbcbc;
      width: 17%;
      position: relative;
      bottom: 2px;
      height: 39px;
      display: flex;
      .search-icon {
        position: relative;
        top: 6px;
        left: 10px;
        z-index: 1;
      }
    }
  }
  .table-responsive {
    border: 1px solid #C9C9CB;
  }
  .login {
    border-color: #cb9707;
    color: #e29522;
    height: 35px;
    margin-top: 5px;
    &:focus{
      outline: 0px;
    }
  }
  span.logout {
    margin: 3px;
    font-size: 15px;
    position: relative;
    top: -6px;
}
}
